In [1]:
# 1. Importo las librerías que usaré en el proyecto

import pandas as pd
import numpy as np

In [2]:
# 2. Cargo el dataset que voy a utilizar (./datasets/akc-data-latest.csv)

df = pd.read_csv('../datasets/wines_SPA.csv')

In [3]:
# 3. Muestro una fila aleatoria del dataset para ver las columnas y su contenido

df.sample(1)

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
39,Sierra Cantabria,Magico,2016,4.8,40,Espana,Rioja,544.5,Rioja Red,4.0,3.0

In [5]:
# 4. Reviso la información general del dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       7500 non-null   object
 1   wine         7500 non-null   object
 2   year         7498 non-null   object
 3   rating       7500 non-null   float64
 4   num_reviews  7500 non-null   int64
 5   country      7500 non-null   object
 6   region       7500 non-null   object
 7   price        7500 non-null   float64
 8   type         6955 non-null   object
 9   body         6331 non-null   float64
 10  acidity      6331 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 644.7+ KB

In [6]:
# 5. Reviso las estadísticas descriptivas del dataset

df.describe()

            rating   num_reviews        price         body      acidity
count  7500.000000   7500.000000  7500.000000  6331.000000  6331.000000
mean      4.254933    451.109067    60.095822     4.158427     2.946612
std       0.118029    723.001856   150.356676     0.583352     0.248202
min       4.200000     25.000000     4.990000     2.000000     1.000000
25%       4.200000    389.000000    18.900000     4.000000     3.000000
50%       4.200000    404.000000    28.530000     4.000000     3.000000
75%       4.200000    415.000000    51.350000     5.000000     3.000000
max       4.900000  32624.000000  3119.080000     5.000000     3.000000

In [21]:
# 6. Reviso los valores nulos por columna
print(df.isnull().sum())

winery            0
wine              0
year              2
rating            0
num_reviews       0
country           0
region            0
price             0
type            545
body           1169
acidity        1169
dtype: int64

In [28]:
# 7. Compruebo el número de filas duplicadas 
print("Duplicados:", df.duplicated().sum())

Duplicados: 5452

In [29]:
# 8. Elimio las filas duplicadas
df = df.drop_duplicates()

In [34]:
# 9. Vuelvo a revisar la información y los valores nulos por columna
    # El número de filas se ha reducido de 7500 a 2048 al eliminar duplicados
print(df.info())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 2048 entries, 0 to 6100
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       2048 non-null   object
 1   wine         2048 non-null   object
 2   year         2046 non-null   object
 3   rating       2048 non-null   float64
 4   num_reviews  2048 non-null   int64
 5   country      2048 non-null   object
 6   region       2048 non-null   object
 7   price        2048 non-null   float64
 8   type         1942 non-null   object
 9   body         1777 non-null   float64
 10  acidity      1777 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 192.0+ KB
None
winery           0
wine             0
year             2
rating           0
num_reviews      0
country          0
region           0
price            0
type           106
body           271
acidity        271
dtype: int64