In [2]:
# Importo las librerías que usaré en el proyecto

import pandas as pd
import numpy as np

## Importación del dataset

In [ ]:
# Cargo el dataset que voy a utilizar (./datasets/akc-data-latest.csv)

df = pd.read_csv("../datasets/wines_SPA.csv")

## Información general del dataset

In [4]:
# Muestro las columnas y una fila aleatoria del dataset

print(df.columns.unique())
df.sample(1)

Index(['winery', 'wine', 'year', 'rating', 'num_reviews', 'country', 'region',
       'price', 'type', 'body', 'acidity'],
      dtype='object')

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
4993,Contino,Rioja Graciano,2011,4.2,395,Espana,Rioja,61.94,Rioja Red,4.0,3.0

In [5]:
# Muestro el tipo de dato de cada columna y los valores únicos para identificar variables

print("Tipos de datos por columna:")
print(df.dtypes)
print("\nValores únicos por columna:")
for col in df.columns:
    print(f"{col}: {df[col].nunique()}")

Tipos de datos por columna:
winery          object
wine            object
year            object
rating         float64
num_reviews      int64
country         object
region          object
price          float64
type            object
body           float64
acidity        float64
dtype: object

Valores únicos por columna:
winery: 480
wine: 847
year: 71
rating: 8
num_reviews: 817
country: 1
region: 76
price: 1292
type: 21
body: 4
acidity: 3

In [6]:
# Reviso las estadísticas descriptivas del dataset

df.describe()

            rating   num_reviews        price         body      acidity
count  7500.000000   7500.000000  7500.000000  6331.000000  6331.000000
mean      4.254933    451.109067    60.095822     4.158427     2.946612
std       0.118029    723.001856   150.356676     0.583352     0.248202
min       4.200000     25.000000     4.990000     2.000000     1.000000
25%       4.200000    389.000000    18.900000     4.000000     3.000000
50%       4.200000    404.000000    28.530000     4.000000     3.000000
75%       4.200000    415.000000    51.350000     5.000000     3.000000
max       4.900000  32624.000000  3119.080000     5.000000     3.000000

In [7]:
# Reviso los valores nulos por columna

print(df.isnull().sum())

winery            0
wine              0
year              2
rating            0
num_reviews       0
country           0
region            0
price             0
type            545
body           1169
acidity        1169
dtype: int64

In [8]:
# Reviso los valores únicos en la columna "country"
df["country"].unique()

array(['Espana'], dtype=object)

In [9]:
# Al ser todos los vinos de España, elimino la columna "country"
df = df.drop(columns=["country"])

In [10]:
# Compruebo el número de filas duplicadas 

print("Duplicados:", df.duplicated().sum())

Duplicados: 5452

## Gestión de duplicados y nulos

In [11]:
# 8. Elimio las filas duplicadas

df = df.drop_duplicates()
print("Duplicados:", df.duplicated().sum())

Duplicados: 0

In [13]:
# Vuelvo a revisar la información y los valores nulos por columna
    # El número de filas se ha reducido de 7500 a 2048 al eliminar duplicados
    
print(df.info())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 2048 entries, 0 to 6100
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       2048 non-null   object
 1   wine         2048 non-null   object
 2   year         2046 non-null   object
 3   rating       2048 non-null   float64
 4   num_reviews  2048 non-null   int64
 5   region       2048 non-null   object
 6   price        2048 non-null   float64
 7   type         1942 non-null   object
 8   body         1777 non-null   float64
 9   acidity      1777 non-null   float64
dtypes: float64(4), int64(1), object(5)
memory usage: 176.0+ KB
None
winery           0
wine             0
year             2
rating           0
num_reviews      0
region           0
price            0
type           106
body           271
acidity        271
dtype: int64

In [12]:
# Miro los valores únicos de algunas columnas importantes para el análisis por si hubiese outliers destacables

print(f"rating: {df["rating"].unique()}")
print(f"price: {df["price"].unique()}")
print(f"body: {df["body"].unique()}")
print(f"acidity: {df["acidity"].unique()}")

rating: [4.9 4.8 4.7 4.6 4.5 4.4 4.3 4.2]
price: [995.   313.5  324.95 ...  16.76  24.45  31.63]
body: [ 5.  4.  3. nan  2.]
acidity: [ 3.  2.  1. nan]

In [14]:
# Reviso los nulos y campos únicos de la columna "year" para saber cómo gestionarlos
    # Tengo 2 valores NaN y algunos valores N.V. que habrá que gestionar

print(df["year"].unique())

print("\nValores nulos:")
df[df["year"].isnull()]

['2013' '2018' '2009' '1999' '1996' '1998' '2010' '1995' '2015' '2011'
 '2016' '1970' '1946' '1962' '2019' '2004' 'N.V.' '1931' '1979' '2005'
 '2020' '2014' '1985' '1929' '2007' '2012' '2017' '2008' nan '2006' '2000'
 '2003' '2002' '1991' '1994' '1990' '1989' '1987' '1986' '1981' '2001'
 '1968' '1964' '1982' '1974' '1983' '1955' '1980' '1972' '1953' '1958'
 '1942' '1965' '1992' '1973' '1997' '1967' '1975' '1910' '1961' '1954'
 '1988' '1969' '1951' '1928' '1976' '1949' '2021' '1959' '1922' '1978'
 '1925']

Valores nulos:

,winery,wine,year,rating,num_reviews,region,price,type,body,acidity
46,Vega Sicilia,Unico Reserva Especial Edicion,NaN,4.7,12421,Ribera del Duero,423.5,Ribera Del Duero Red,5.0,3.0
851,La Unica,Fourth Edition,NaN,4.4,131,Vino de Espana,40.0,Tempranillo,4.0,2.0

In [15]:
# Miro cuántos valores N.V. tengo en la columna "year"

print((df["year"] == "N.V.").sum())

70

In [16]:
# Convierto los valores 'N.V.' de la columna 'year' a valores nulos (NaN)
    # Compruebo que haya funcionado correctamente

df["year"] = df["year"].replace("N.V.", np.nan)
print((df["year"] == "N.V.").sum())
print((df["year"].isnull()).sum())

0
72

In [17]:
# Reviso los valores nulos en la columna "type" para decidir cómo gestionarlos
    # Observo un patrón entre los nulos de type, body y acidity
    
df[df["type"].isnull()]

,winery,wine,year,rating,num_reviews,region,price,type,body,acidity
120,Finca Moncloa,Tintilla de Rota,2016,4.7,92,Cadiz,43.13000,NaN,NaN,NaN
147,Rafael Palacios,Sorte O Soro Val do Bibei,2019,4.7,37,Valdeorras,194.86000,NaN,NaN,NaN
156,Gutierrez de la Vega,Recondita Armonia Monastrell Dulce,1987,4.7,27,Alicante,81.90000,NaN,NaN,NaN
254,Costers del Siurana,Dolc de L'Obac,2006,4.6,94,Priorato,117.23942,NaN,NaN,NaN
288,Francisco Garcia Perez,Adega do Moucho Treixadura,2017,4.6,53,Ribeiro,34.50000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1934,Gramona,Gessami,2020,4.2,692,Penedes,11.20000,NaN,NaN,NaN
1982,Emilio Moro,La Revelia Godello,2018,4.2,484,Bierzo,21.95000,NaN,NaN,NaN
1995,Culebron,Fondillon Gran Reserva,1964,4.2,432,Alicante,49.95000,NaN,NaN,NaN
2011,Ramon do Casar,Treixadura,2020,4.2,407,Ribeiro,11.95000,NaN,NaN,NaN
2014,Binigrau,Nounat,2020,4.2,404,Mallorca,19.90000,NaN,NaN,NaN

In [18]:
# Al revisar los nulos de la columna "type", observo que todos los registros con "type" nulo también tienen "body" y "acidity" nulos
    
mask = df["type"].isnull()
print((df.loc[mask, ["body", "acidity"]].isnull().all(axis=1)).sum())
print(len(df[mask]))

106
106

In [19]:
# Me doy cuenta de que la columna "type" mezcla los tipos de vino por uva, denominación de origen y estilo de vino
    # Esto dificulta el análisis, ya que no es consistente

In [20]:
# Compruebo los valores únicos de body y acidity por tipo de vino antes de eliminar la columna "type"
    # Veo que el valor de body y acidity es igual para cada tipo de vino
    # Por lo tanto, puedo usar esos valores para rellenar body y acidity antes de eliminar la columna "type"
    
print(df.groupby("type")[["body", "acidity"]].nunique())

                      body  acidity
type
Albarino                 1        1
Cabernet Sauvignon       1        1
Cava                     1        1
Chardonnay               1        1
Grenache                 1        1
Mencia                   1        1
Monastrell               1        1
Montsant Red             1        1
Pedro Ximenez            1        1
Priorat Red              1        1
Red                      1        1
Ribera Del Duero Red     1        1
Rioja Red                1        1
Rioja White              1        1
Sauvignon Blanc          1        1
Sherry                   1        1
Sparkling                1        1
Syrah                    1        1
Tempranillo              1        1
Toro Red                 1        1
Verdejo                  1        1

In [21]:
# Relleno los nulos de body y acidity usando los valores medios por tipo de vino y elimino la columna "type"

df["body"] = df.groupby("type")["body"].transform(lambda x: x.fillna(x.mean()))
df["acidity"] = df.groupby("type")["acidity"].transform(lambda x: x.fillna(x.mean()))
df = df.drop(columns=["type"])

In [22]:
df.sample(1)

,winery,wine,year,rating,num_reviews,region,price,body,acidity
597,Altos del Terral,Cuvee Julia Ribera del Duero,2011,4.5,35,Ribera del Duero,157.0,5.0,3.0

In [23]:
# Vuelvo a comprobar los valores nulos tras las transformaciones realizadas

print(df.dtypes)
print("\nValores nulos por columna:")
print(df.isnull().sum())

winery          object
wine            object
year            object
rating         float64
num_reviews      int64
region          object
price          float64
body           float64
acidity        float64
dtype: object

Valores nulos por columna:
winery           0
wine             0
year            72
rating           0
num_reviews      0
region           0
price            0
body           106
acidity        106
dtype: int64

In [ ]:
# Reviso los nulos en la columna "body", qué coinciden con los de la columna "acidity", para ver cómo gestionarlos

pd.set_option("display.max_rows", None)
df[df["body"].isnull()]

,winery,wine,year,rating,num_reviews,region,price,body,acidity
120,Finca Moncloa,Tintilla de Rota,2016,4.7,92,Cadiz,43.13000,NaN,NaN
147,Rafael Palacios,Sorte O Soro Val do Bibei,2019,4.7,37,Valdeorras,194.86000,NaN,NaN
156,Gutierrez de la Vega,Recondita Armonia Monastrell Dulce,1987,4.7,27,Alicante,81.90000,NaN,NaN
254,Costers del Siurana,Dolc de L'Obac,2006,4.6,94,Priorato,117.23942,NaN,NaN
288,Francisco Garcia Perez,Adega do Moucho Treixadura,2017,4.6,53,Ribeiro,34.50000,NaN,NaN
303,Casal de Arman,Finca Misenhora Edicion Limitada,2018,4.6,44,Ribeiro,26.20000,NaN,NaN
312,Pago de Larrainzar,Rosado de Larrainzar,2020,4.6,39,Navarra,12.00000,NaN,NaN
318,Finca Moncloa,Tintilla de Rota,2017,4.6,37,Cadiz,43.10000,NaN,NaN
340,Telmo Rodriguez,Molino Real,2016,4.6,28,Malaga,41.69000,NaN,NaN
477,Emilio Rojo,Blanco,2017,4.5,134,Ribeiro,49.95000,NaN,NaN
488,Rafael Palacios,As Sortes Val do Bibei Godello,2020,4.5,115,Valdeorras,55.00000,NaN,NaN
576,Veigamoura,Blanco,2013,4.5,45,Rias Baixas,14.96000,NaN,NaN
610,Amos Baneres,Diables,2018,4.5,31,Penedes,38.75000,NaN,NaN
744,Rafael Palacios,As Sortes Val do Bibei Godello,2018,4.4,412,Valdeorras,55.71000,NaN,NaN
756,Abadia Retuerta,Le Domaine Blanco de Guarda,2019,4.4,334,Sardon de Duero,32.58000,NaN,NaN
757,Rafael Palacios,As Sortes Val do Bibei Godello,2019,4.4,333,Valdeorras,46.50000,NaN,NaN
796,R. Lopez de Heredia,Gran Reserva Rosado,2011,4.4,206,Rioja Alta,49.95000,NaN,NaN
801,Dominio do Bibei,Lapola,2019,4.4,196,Ribeira Sacra,20.74000,NaN,NaN
839,Bodegas El Paraguas,Atlantico,2019,4.4,146,Ribeiro,18.99000,NaN,NaN
848,Bodegas Mauro,Godello Blanco,2019,4.4,134,Bierzo,37.60000,NaN,NaN
887,Pago de Los Capellanes,O Luar do Sil Valdeorras Godello Sobre Lias,2020,4.4,101,Valdeorras,16.39000,NaN,NaN
892,Abadia Retuerta,Le Domaine Blanco de Guarda,2020,4.4,99,Sardon de Duero,33.80000,NaN,NaN
908,Bodegas Mas Alta,La Solana Alta,2017,4.4,90,Priorato,63.46000,NaN,NaN
916,Luis A. Rodriguez Vazquez,Vina de Martin Escolma Ribeiro,2016,4.4,85,Ribeiro,37.65000,NaN,NaN
938,Alta Alella,Dolc Mataro,2018,4.4,72,Alella,17.95000,NaN,NaN
967,Jorge Ordonez,No. 2 Victoria,2018,4.4,64,Malaga,15.90000,NaN,NaN
981,Enric Soler,Nun Vinya dels Taus,2018,4.4,59,Penedes,62.70000,NaN,NaN
983,Es Fangar,Lo Cortinelo.Lo Blanc,2017,4.4,58,Pla i Llevant,27.25000,NaN,NaN
1040,Bodegas Mas Alta,La Solana Alta,2018,4.4,39,Priorato,43.50000,NaN,NaN
1059,Enric Soler,Nun Vinya dels Taus,2019,4.4,35,Penedes,45.39000,NaN,NaN
1066,Castell Miquel,Stairway To Heaven Rosado,2020,4.4,34,Mallorca,13.99000,NaN,NaN
1067,Barco del Corneta,La Silleria,2017,4.4,34,Castilla y Leon,24.50000,NaN,NaN
1081,Castell d'Encus,Ekam Essencia,2015,4.4,32,Costers del Segre,43.44000,NaN,NaN
1101,Gutierrez de la Vega,Casta Diva Cosecha Miel Moscatel Dulce,2018,4.4,27,Alicante,15.50000,NaN,NaN
1116,Familia Torres,San Valentin Parellada,2019,4.3,7401,Cataluna,6.95000,NaN,NaN
1265,St. Petroni,Vermello Vermu,NaN,4.3,424,Galicia,10.89000,NaN,NaN
1268,Llanos Negros,Los Tabaqueros,2006,4.3,419,La Palma,21.95000,NaN,NaN
1280,Avancia,Godello,2019,4.3,375,Valdeorras,23.40000,NaN,NaN
1296,Abadia Retuerta,Le Domaine Blanco de Guarda,2016,4.3,327,Sardon de Duero,36.95000,NaN,NaN
1301,Abadia Retuerta,Le Domaine Blanco de Guarda,2018,4.3,309,Sardon de Duero,34.10000,NaN,NaN
1313,Clos Mogador,Nelin Priorat,2016,4.3,290,Priorato,36.50000,NaN,NaN
1319,Godeval,Cepas Vellas Godello,2019,4.3,272,Valdeorras,18.48000,NaN,NaN
1327,Castell d'Encus,Ekam,2019,4.3,257,Costers del Segre,24.61000,NaN,NaN
1334,Dominio do Bibei,Lapola,2017,4.3,241,Ribeira Sacra,21.80000,NaN,NaN
1343,Jorge Ordonez,No. 2 Victoria,2017,4.3,232,Malaga,21.40000,NaN,NaN
1382,Abadia Retuerta,Le Domaine Blanco de Guarda,2014,4.3,190,Sardon de Duero,123.82000,NaN,NaN
1387,Bodegas Mauro,Godello Blanco,2017,4.3,186,Bierzo,34.50000,NaN,NaN
1408,Vinos Guerra,Reserva Vermouth Rojo,NaN,4.3,166,Bierzo,8.95000,NaN,NaN
1412,Scala Dei,Pla dels Angels Rosado,2019,4.3,160,Priorato,23.00000,NaN,NaN
1425,St. Petroni,Branco Vermu,NaN,4.3,148,Galicia,13.95000,NaN,NaN
1445,Bodegas Mauro,Godello Blanco,2015,4.3,135,Bierzo,92.45000,NaN,NaN
1457,De Muller,Vermouth Reserva,NaN,4.3,129,Tarragona,10.45000,NaN,NaN
1478,Pago de Vallegarcia,Vallegarcia Viognier,2019,4.3,114,Castilla,18.50000,NaN,NaN
1489,Perez Barquero,Gran Barquero Palo Cortado Solera 25 Anos,NaN,4.3,108,Montilla-Moriles,34.90000,NaN,NaN
1511,Llanos Negros,La Time,2000,4.3,94,La Palma,21.95000,NaN,NaN
1513,Alta Alella,Dolc Mataro,2017,4.3,92,Alella,16.50000,NaN,NaN
1515,Bodegas Ochoa,Vendimia Tardia Moscatel,2019,4.3,91,Navarra,10.76000,NaN,NaN
1530,Can Rafols dels Caus,El Rocallis,2015,4.3,83,Cataluna,88.00000,NaN,NaN
1534,Dominio del Bendito,La Chispa Negra,2011,4.3,82,Toro,24.00000,NaN,NaN
1543,Can Rafols dels Caus,El Rocallis,2016,4.3,80,Cataluna,34.50000,NaN,NaN
1550,Scala Dei,Massipa de Scala Dei Garnatxa Blanca - Xenin,2018,4.3,79,Priorato,36.78000,NaN,NaN
1564,Scala Dei,Pla dels Angels Rosado,2020,4.3,74,Priorato,23.95000,NaN,NaN
1568,Terroir Al Limit Soc. Lda,Pedra de Guix,2017,4.3,73,Priorato,57.90000,NaN,NaN
1598,Scala Dei,Massipa de Scala Dei Garnatxa Blanca - Xenin,2019,4.3,62,Priorato,36.95000,NaN,NaN
1604,Enric Soler,Nun Vinya dels Taus,2017,4.3,62,Penedes,123.75000,NaN,NaN
1614,Bodegas Yzaguirre,Selection 1884 Vermouth Gran Reserva,NaN,4.3,57,Cataluna,27.11000,NaN,NaN
1620,Finca Torremilanos,Penalba Lopez Blanco,2019,4.3,57,Castilla y Leon,13.65000,NaN,NaN
1622,Pradorey,El Cuentista,2018,4.3,57,Ribera del Duero,17.90000,NaN,NaN
1625,Bodega Aida i Luis,Tahulla Moscatel Blanco Seco,2018,4.3,56,Alicante,11.95000,NaN,NaN
1642,Cervoles,Vinyes Altes de Les Garrigues Vi Blanc,2019,4.3,52,Costers del Segre,25.80000,NaN,NaN
1646,Bodegas San Roman,Malvasia,2017,4.3,51,Castilla,41.50000,NaN,NaN
1665,Atlantida,Blanco,2019,4.3,48,Cadiz,17.70000,NaN,NaN
1687,Bodegas Luis Perez,Fino La Barajuela,2016,4.3,44,Andalucia,69.95000,NaN,NaN
1695,Avancia,Godello,2020,4.3,42,Valdeorras,24.77000,NaN,NaN
1697,Bodegas Frontonio,La Loma & Los Santos Garnacha Blanca - Macabeo,2018,4.3,41,Valdejalon,40.90000,NaN,NaN
1700,Cal Batllet - Celler Ripoll Sans,Gratallops Escanya-Vella,2018,4.3,40,Priorato,27.10000,NaN,NaN
1705,Chivite,Navarra Vendimia Tardia Coleccion 125,2018,4.3,39,Navarra,25.95000,NaN,NaN
1707,Gallina de Piel,Manar dos Seixas,2019,4.3,38,Ribeiro,13.50000,NaN,NaN
1714,Gutierrez de la Vega,Recondita Armonia Monastrell Dulce,2018,4.3,38,Alicante,16.45000,NaN,NaN
1717,Telmo Rodriguez,Molino Real,2015,4.3,38,Malaga,53.30000,NaN,NaN
1725,Emilio Moro,La Revelia Godello,2019,4.3,37,Bierzo,21.65000,NaN,NaN
1732,Sebio,Salvaxe,2018,4.3,35,Ribeiro,26.75000,NaN,NaN
1734,Gramona,Vi De Glass Gewurztraminer,2017,4.3,35,Cataluna,18.58000,NaN,NaN
1741,Mauro Estevez,Vino de Autor Ribeiro Blanco,2020,4.3,34,Ribeiro,15.90000,NaN,NaN
1748,Ton Rimbau,Porcellanic VI Xarel-lo Sur Lie,2011,4.3,33,Penedes,110.47000,NaN,NaN
1751,A Coroa,200 Cestos Godello,2020,4.3,33,Valdeorras,23.70000,NaN,NaN
1752,Sebio,Heaven & Hell,2017,4.3,32,Galicia,18.50000,NaN,NaN
1757,Bodegas Ochoa,Vendimia Tardia Moscatel,2020,4.3,32,Navarra,13.75000,NaN,NaN
1761,Algueira,Anadelia,2015,4.3,31,Ribeira Sacra,38.50000,NaN,NaN
1762,Sebio,Salvaxe,2017,4.3,31,Ribeiro,28.35000,NaN,NaN
1766,Bodega Tameran,Malvasia Volcanica,2020,4.3,31,Gran Canaria,31.90000,NaN,NaN
1770,Flor de Chasna,Blanco Afrutado,2020,4.3,30,Abona,11.99000,NaN,NaN
1771,Lagar de Sabariz,A Pita Cega,2015,4.3,30,Galicia,44.80000,NaN,NaN
1790,Antidoto,Le Rose,2018,4.3,28,Ribera del Duero,49.00000,NaN,NaN
1799,Bodega Tameran,Marmajuelo,2020,4.3,27,Gran Canaria,29.75000,NaN,NaN
1807,Javier Sanz Viticultor,V Dulce de Invierno,2018,4.3,26,Castilla y Leon,17.74000,NaN,NaN
1820,Nin-Ortiz,Selma de Nin Blanco,2017,4.3,25,Cataluna,56.95000,NaN,NaN
1851,Rafael Palacios,Louro Godello,2019,4.2,2685,Valdeorras,19.70000,NaN,NaN
1882,Gramona,Gessami,2019,4.2,1164,Penedes,9.95000,NaN,NaN
1891,Lustau,Vermut Rojo,NaN,4.2,1058,Jerez-Xeres-Sherry,11.90000,NaN,NaN
1914,Baluarte,Muscat,2020,4.2,842,Navarra,5.50000,NaN,NaN
1934,Gramona,Gessami,2020,4.2,692,Penedes,11.20000,NaN,NaN
1982,Emilio Moro,La Revelia Godello,2018,4.2,484,Bierzo,21.95000,NaN,NaN
1995,Culebron,Fondillon Gran Reserva,1964,4.2,432,Alicante,49.95000,NaN,NaN
2011,Ramon do Casar,Treixadura,2020,4.2,407,Ribeiro,11.95000,NaN,NaN
2014,Binigrau,Nounat,2020,4.2,404,Mallorca,19.90000,NaN,NaN

In [25]:
# Compruebo los valores únicos de body y acidity por región para ver si puedo rellenar los nulos restantes
    # Veo que para muchas regiones el valor de body y acidity es igual, por lo que puedo usar esos valores para rellenar los nulos restantes

print(df.groupby("region")[["body", "acidity"]].nunique())

                                 body  acidity
region
Abona                               0        0
Alella                              2        1
Alicante                            1        1
Almansa                             2        1
Andalucia                           1        1
Aragon                              1        1
Arinzano                            1        1
Arribes                             1        1
Bierzo                              2        1
Binissalem-Mallorca                 1        1
Cadiz                               1        1
Calatayud                           1        1
Campo de Borja                      2        1
Carinena                            2        1
Castilla                            1        1
Castilla y Leon                     3        2
Cataluna                            2        1
Cava                                1        1
Cigales                             1        2
Conca de Barbera                    1        1
Condado de Huelva                   1        1
Costers del Segre                   1        1
Dehesa del Carrizal                 1        1
Dominio de Valdepusa                1        1
El Terrerazo                        1        1
Emporda                             1        1
Extremadura                         1        1
Galicia                             0        0
Gran Canaria                        0        0
Jerez Amontillado                   1        1
Jerez Cream                         1        1
Jerez Oloroso                       1        1
Jerez Palo Cortado                  1        1
Jerez Pedro Ximenes (PX)            2        2
Jerez-Xeres-Sherry                  2        2
Jumilla                             2        1
La Mancha                           1        1
La Palma                            0        0
Madrid                              1        1
Malaga                              1        1
Mallorca                            1        1
Manzanilla                          1        1
Mentrida                            1        1
Monterrei                           1        1
Montilla-Moriles                    1        1
Montsant                            2        1
Murcia                              1        1
Navarra                             1        1
Otazu                               1        1
Pago Calzadilla                     1        1
Penedes                             3        1
Pla de Bages                        1        1
Pla i Llevant                       1        1
Priorato                            1        1
Rias Baixas                         1        1
Ribeira Sacra                       0        0
Ribeiro                             1        1
Ribera del Duero                    3        2
Ribera del Gallego-Cinco Villas     1        1
Rioja                               3        2
Rioja Alavesa                       1        1
Rioja Alta                          2        1
Rueda                               1        1
Sardon de Duero                     1        2
Sierras de Malaga                   1        1
Somontano                           1        1
Tarragona                           1        1
Terra Alta                          1        1
Tierra del Vino de Zamora           1        1
Toro                                3        2
Utiel-Requena                       1        1
Valdejalon                          0        0
Valdeorras                          0        0
Valencia                            2        1
Vino de Espana                      3        2
Yecla                               2        1

In [26]:
# Relleno los nulos posibles de body y acidity usando los valores medios por región
    # No se rellenarán todos los nulos, ya que algunas regiones tienen todos sus valores nulos en body y acidity
    
df["body"] = df.groupby("region")["body"].transform(lambda x: x.fillna(x.mean()))
df["acidity"] = df.groupby("region")["acidity"].transform(lambda x: x.fillna(x.mean()))

In [27]:
# Compruebo qué nulos quedan en body, y si coinciden con los de acidity
    # Decido mantener los valores nulos restantes, ya que son pocos y no quiero introducir sesgos en el dataset

print(df.isnull().sum())
df[df["body"].isnull()]

winery          0
wine            0
year           72
rating          0
num_reviews     0
region          0
price           0
body           23
acidity        23
dtype: int64

,winery,wine,year,rating,num_reviews,region,price,body,acidity
147,Rafael Palacios,Sorte O Soro Val do Bibei,2019,4.7,37,Valdeorras,194.86,NaN,NaN
488,Rafael Palacios,As Sortes Val do Bibei Godello,2020,4.5,115,Valdeorras,55.00,NaN,NaN
744,Rafael Palacios,As Sortes Val do Bibei Godello,2018,4.4,412,Valdeorras,55.71,NaN,NaN
757,Rafael Palacios,As Sortes Val do Bibei Godello,2019,4.4,333,Valdeorras,46.50,NaN,NaN
801,Dominio do Bibei,Lapola,2019,4.4,196,Ribeira Sacra,20.74,NaN,NaN
887,Pago de Los Capellanes,O Luar do Sil Valdeorras Godello Sobre Lias,2020,4.4,101,Valdeorras,16.39,NaN,NaN
1265,St. Petroni,Vermello Vermu,NaN,4.3,424,Galicia,10.89,NaN,NaN
1268,Llanos Negros,Los Tabaqueros,2006,4.3,419,La Palma,21.95,NaN,NaN
1280,Avancia,Godello,2019,4.3,375,Valdeorras,23.40,NaN,NaN
1319,Godeval,Cepas Vellas Godello,2019,4.3,272,Valdeorras,18.48,NaN,NaN
1334,Dominio do Bibei,Lapola,2017,4.3,241,Ribeira Sacra,21.80,NaN,NaN
1425,St. Petroni,Branco Vermu,NaN,4.3,148,Galicia,13.95,NaN,NaN
1511,Llanos Negros,La Time,2000,4.3,94,La Palma,21.95,NaN,NaN
1695,Avancia,Godello,2020,4.3,42,Valdeorras,24.77,NaN,NaN
1697,Bodegas Frontonio,La Loma & Los Santos Garnacha Blanca - Macabeo,2018,4.3,41,Valdejalon,40.90,NaN,NaN
1751,A Coroa,200 Cestos Godello,2020,4.3,33,Valdeorras,23.70,NaN,NaN
1752,Sebio,Heaven & Hell,2017,4.3,32,Galicia,18.50,NaN,NaN
1761,Algueira,Anadelia,2015,4.3,31,Ribeira Sacra,38.50,NaN,NaN
1766,Bodega Tameran,Malvasia Volcanica,2020,4.3,31,Gran Canaria,31.90,NaN,NaN
1770,Flor de Chasna,Blanco Afrutado,2020,4.3,30,Abona,11.99,NaN,NaN
1771,Lagar de Sabariz,A Pita Cega,2015,4.3,30,Galicia,44.80,NaN,NaN
1799,Bodega Tameran,Marmajuelo,2020,4.3,27,Gran Canaria,29.75,NaN,NaN
1851,Rafael Palacios,Louro Godello,2019,4.2,2685,Valdeorras,19.70,NaN,NaN

## Corrección de tipo de datos

In [28]:
# Compruebo de nuevo la información y las estadísticas descriptivas del dataset tras las transformaciones realizadas

df.info()
print("\n", df.describe())
df.sample(1)

<class 'pandas.core.frame.DataFrame'>
Index: 2048 entries, 0 to 6100
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       2048 non-null   object
 1   wine         2048 non-null   object
 2   year         1976 non-null   object
 3   rating       2048 non-null   float64
 4   num_reviews  2048 non-null   int64
 5   region       2048 non-null   object
 6   price        2048 non-null   float64
 7   body         2025 non-null   float64
 8   acidity      2025 non-null   float64
dtypes: float64(4), int64(1), object(4)
memory usage: 160.0+ KB

             rating   num_reviews        price         body      acidity
count  2048.000000   2048.000000  2048.000000  2025.000000  2025.000000
mean      4.401123    573.994629   135.242194     4.244815     2.926960
std       0.147023   1376.153171   272.178316     0.653578     0.319932
min       4.200000     25.000000     4.990000     2.000000     1.000000
25%       4.300000     58.000000    31.917947     4.000000     3.000000
50%       4.400000    141.000000    53.625000     4.000000     3.000000
75%       4.500000    485.500000   110.000000     5.000000     3.000000
max       4.900000  32624.000000  3119.080000     5.000000     3.000000

             rating   num_reviews        price         body      acidity
count  2048.000000   2048.000000  2048.000000  2025.000000  2025.000000
mean      4.401123    573.994629   135.242194     4.244815     2.926960
std       0.147023   1376.153171   272.178316     0.653578     0.319932
min       4.200000     25.000000     4.990000     2.000000     1.000000
25%       4.300000     58.000000    31.917947     4.000000     3.000000
50%       4.400000    141.000000    53.625000     4.000000     3.000000
75%       4.500000    485.500000   110.000000     5.000000     3.000000
max       4.900000  32624.000000  3119.080000     5.000000     3.000000

,winery,wine,year,rating,num_reviews,region,price,body,acidity
933,Ontanon,Queiron Reserva Vinedos Familiares,2011,4.4,74,Rioja,26.85,4.0,3.0

In [29]:
# Transformo la columna year a numérica
    # Los valores nulos se mantendrán como NaN
    
df["year"] = pd.to_numeric(df["year"], errors='coerce').astype('Int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2048 entries, 0 to 6100
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       2048 non-null   object
 1   wine         2048 non-null   object
 2   year         1976 non-null   Int64
 3   rating       2048 non-null   float64
 4   num_reviews  2048 non-null   int64
 5   region       2048 non-null   object
 6   price        2048 non-null   float64
 7   body         2025 non-null   float64
 8   acidity      2025 non-null   float64
dtypes: Int64(1), float64(4), int64(1), object(3)
memory usage: 162.0+ KB

In [30]:
# El resto de columnas ya están en el formato adecuado

## Normalización

- Normalización de la columna rating
    - Se creará la columna rating_norm, qué ofrecerá más claridad a la hora de ver qué vinos tienen más rating
    - Esto es debido a que el rating mínimo de la tabla es 4.2 y el máximo es 4.9

- Creación de la columna calidad precio en base al rating normalizado

In [31]:
df["rating"].unique()

array([4.9, 4.8, 4.7, 4.6, 4.5, 4.4, 4.3, 4.2])

In [32]:
# Normalizo la columna "rating" usando Min-Max

df["rating_norm"] = (df["rating"] - df["rating"].min()) / (df["rating"].max() - df["rating"].min())
print(df[["rating", "rating_norm"]].sample(5))

      rating  rating_norm
1141     4.3     0.142857
1966     4.2     0.000000
828      4.4     0.285714
1720     4.3     0.142857
571      4.5     0.428571

In [33]:
df.sample(1)

,winery,wine,year,rating,num_reviews,region,price,body,acidity,rating_norm
544,Artadi,Grandes Anadas Rioja,1998,4.5,66,Rioja,467.65,4.0,3.0,0.428571

In [34]:
# Ahora busco la mejor forma de normalizar la columna "price" para obtener la mejor forma de calcular la calidad-precio

df["price"].sort_values(ascending=False)

338     3119.080000
196     2884.040000
115     2814.160000
343     2750.000000
280     2750.000000
92      2087.250000
188     1785.960000
248     1746.940000
98      1715.180000
332     1660.000000
199     1638.950000
16      1620.000000
205     1595.000000
234     1503.000000
83      1500.000000
97      1500.000000
105     1422.960000
127     1410.260000
27      1410.260000
94      1384.540000
595     1373.660000
100     1372.140000
215     1372.140000
235     1372.140000
573     1372.140000
180     1359.750000
191     1350.000000
116     1325.000000
40      1295.000000
42      1289.440000
22      1280.000000
258     1260.000000
123     1252.350000
295     1250.000000
96      1250.000000
314     1238.430000
121     1207.600000
185     1198.720000
84      1190.000000
35      1190.000000
31      1182.770000
113     1150.000000
36      1150.000000
130     1113.200000
232     1106.240000
291     1099.280000
43      1098.900000
45      1094.900000
229     1080.000000
118     1071.450000
38      1021.210000
33       999.000000
0        995.000000
579      993.280000
310      993.280000
41       992.200000
209      980.000000
551      976.830000
37       950.000000
275      945.000000
920      940.000000
80       940.000000
99       932.300000
212      932.300000
13       925.000000
155      919.600000
112      911.430000
226      895.400000
182      890.000000
63       877.850000
77       873.860000
62       872.470000
88       827.940000
64       827.940000
19       824.430000
95       820.980000
25       815.000000
28       813.960000
126      813.960000
81       812.630000
7        810.890000
73       795.000000
67       787.590000
4        778.060000
78       774.400000
238      769.900000
243      747.170000
24       719.340000
270      701.050000
110      700.000000
114      698.950000
61       698.900000
3        692.960000
157      680.000000
66       679.720000
102      660.960000
272      654.310000
1572     654.310000
131      654.310000
51       584.430000
21       570.510000
549      559.020000
52       555.200000
39       544.500000
1662     532.000000
117      527.260000
206      519.550000
10       514.850000
208      511.900000
978      509.250000
60       500.940000
1285     498.614195
832      495.000000
5        490.000000
68       480.060000
150      472.500000
544      467.650000
870      465.000000
125      447.950000
53       445.280000
241      445.000000
167      438.900000
29       435.750000
17       431.360000
12       430.000000
1305     425.000000
46       423.500000
893      419.850000
512      415.000000
135      400.850000
358      400.000000
269      399.600000
146      397.000000
499      391.650000
190      391.500000
928      385.000000
50       381.150000
133      380.000000
835      379.000000
151      379.000000
541      374.660000
341      374.350000
74       371.780098
30       369.050000
997      367.390000
55       362.250000
34       360.000000
251      359.900000
282      355.950000
805      350.030000
14       350.000000
6        349.000000
1563     348.850000
1670     348.850000
1624     348.850000
8        345.000000
222      345.000000
107      340.490000
917      340.000000
221      325.000000
57       325.000000
2        324.950000
596      320.000000
220      319.900000
522      317.750000
108      317.630000
268      317.630000
9        315.000000
452      315.000000
1        313.500000
528      312.600000
435      312.000000
1778     310.000000
308      304.540000
769      304.000000
503      302.500000
230      301.000000
571      299.286841
337      299.000000
730      299.000000
119      299.000000
478      298.000000
866      295.300000
566      295.000000
598      295.000000
134      292.090000
387      290.700000
409      290.400000
72       290.000000
56       289.000000
26       285.860000
217      285.000000
289      282.650000
211      280.000000
1004     280.000000
178      276.800000
231      275.000000
524      274.950000
1256     272.000000
265      272.000000
304      270.440000
1668     270.000000
581      270.000000
293      269.950000
552      266.810000
1484     265.000000
1640     260.000000
1560     260.000000
290      259.900000
1359     259.000000
476      253.470000
20       253.000000
172      252.000000
213      251.990000
137      250.000000
1635     249.950000
313      249.900000
791      249.800000
169      249.000000
1500     249.000000
145      248.000000
273      247.750000
218      245.750000
1403     245.530000
1048     245.250000
23       244.850000
1727     243.800000
236      241.550000
950      241.400000
47       239.500000
1084     239.500000
377      239.200000
578      237.000000
970      235.950000
532      234.980000
91       234.900000
59       234.000000
173      232.000000
612      230.000000
1776     230.000000
360      229.000000
484      228.900000
483      228.630000
219      228.570000
32       227.950000
163      225.200000
901      225.000000
614      225.000000
986      225.000000
194      220.000000
285      218.900000
158      218.000000
1553     217.800000
878      217.200000
664      216.000000
44       215.340000
1524     215.340000
174      214.000000
90       213.900000
1690     213.500000
1782     211.920000
764      210.500000
216      210.500000
306      210.000000
1016     209.310000
106      207.110000
421      207.110000
322      207.000000
1259     206.910000
325      205.950000
175      205.000000
136      202.010000
507      200.130000
583      200.000000
493      199.450000
1589     199.000000
518      199.000000
501      198.000000
346      197.300000
1712     197.000000
1637     196.290000
1112     195.990000
18       195.627380
161      195.590000
1654     195.520000
330      195.270000
593      195.000000
261      195.000000
608      195.000000
299      195.000000
262      195.000000
204      195.000000
812      195.000000
147      194.860000
49       194.000000
1021     194.000000
433      193.000000
514      192.160000
140      191.610000
710      190.000000
1153     190.000000
556      190.000000
1036     189.990000
267      189.990000
1674     189.900000
1299     189.450000
895      189.000000
54       189.000000
631      189.000000
600      187.910000
305      187.500000
160      187.300000
324      185.300000
152      185.150000
111      185.000000
128      182.900000
1355     182.000000
348      181.500000
1739     180.000000
1027     180.000000
684      178.000000
1580     177.450000
159      177.000000
428      176.980000
327      176.890000
1477     176.500000
417      175.570000
680      175.500000
48       175.500000
122      175.000000
434      174.910000
394      173.950000
193      173.380000
1092     173.000000
363      172.500000
451      170.500000
1610     170.000000
424      170.000000
561      169.950000
401      169.400000
677      169.000000
393      168.000000
940      167.000000
15       166.180000
873      165.850000
1017     165.000000
511      165.000000
486      165.000000
516      164.900000
283      164.660000
379      164.000000
1329     162.500000
278      162.380000
1908     161.000000
609      160.810000
1270     160.000000
658      160.000000
1786     160.000000
1275     160.000000
1074     159.800000
224      159.000000
979      158.880000
1504     158.880000
872      158.880000
438      157.950000
246      157.400000
597      157.000000
1567     155.000000
956      155.000000
70       154.900000
85       154.850000
540      154.500000
808      154.370000
103      154.000000
921      152.600000
1147     150.000000
1608     150.000000
1518     150.000000
200      150.000000
1417     150.000000
257      149.900000
787      149.500000
411      149.500000
817      149.000000
1510     148.650000
490      148.390000
227      147.850000
389      146.950000
1431     146.050000
124      145.900000
71       145.000000
1035     145.000000
1521     145.000000
881      145.000000
1342     145.000000
192      145.000000
274      144.990000
465      144.780000
912      143.510000
542      143.510000
592      143.380000
621      142.000000
557      141.200000
775      141.000000
679      140.840866
1634     140.000000
1005     140.000000
711      140.000000
1100     140.000000
560      140.000000
939      140.000000
1974     139.900000
1075     139.630000
472      139.300000
1070     138.000000
1644     137.750000
253      136.000000
1495     135.950000
316      135.500000
86       135.000000
162      135.000000
255      135.000000
104      134.890000
132      134.260000
75       134.190000
776      133.750000
1461     133.340000
620      132.950000
1064     132.400000
489      131.850000
1051     130.500000
1447     130.500000
347      130.000000
1384     130.000000
170      129.950000
335      129.900000
315      128.000000
399      127.230000
1354     127.200000
277      126.640000
934      126.500000
1985     126.200000
447      125.970000
906      125.970000
813      125.840000
520      125.050000
367      125.000000
648      125.000000
177      125.000000
826      125.000000
1419     125.000000
366      125.000000
365      125.000000
686      125.000000
649      125.000000
359      125.000000
1859     124.500000
141      123.890000
1382     123.820000
954      123.760000
1604     123.750000
320      123.000000
974      122.667917
356      121.936826
402      121.838963
1650     121.500000
281      121.000000
284      120.900000
247      120.900000
1591     120.130000
1773     120.000000
602      120.000000
1012     119.950000
1499     119.950000
665      119.700000
1042     119.350000
1000     119.000000
203      119.000000
1706     119.000000
407      118.890000
444      118.500000
1516     118.000000
1391     117.300000
254      117.239420
1201     116.900000
82       116.540000
165      116.187944
1253     116.050000
440      116.000000
871      116.000000
1108     115.900000
550      115.850000
937      115.200000
297      114.950000
1383     114.600000
461      114.500000
142      114.280000
1574     113.720000
601      113.200000
789      113.200000
65       113.180000
508      113.000000
1455     112.760000
455      112.260000
959      112.000000
333      111.900000
422      110.500000
1748     110.470000
471      110.000000
383      110.000000
1798     110.000000
1777     110.000000
1281     110.000000
1378     110.000000
693      109.900000
1049     109.760000
202      109.410000
109      108.900000
189      108.210000
425      107.900000
1328     107.740000
58       107.570000
584      107.500000
1266     107.000000
1684     106.920000
321      106.350000
961      106.000000
962      105.812110
11       105.150000
671      105.120000
450      104.900000
998      104.500000
865      104.000000
914      102.000000
362      101.940000
899      101.100000
874      101.010000
1756     101.010000
536      100.000000
1482     100.000000
849      100.000000
339       99.950000
1141      99.900000
1241      99.900000
1251      99.900000
530       99.350000
266       99.000000
834       99.000000
129       99.000000
184       99.000000
1868      98.900000
743       98.000000
1255      98.000000
1562      98.000000
1437      97.500000
1466      97.350000
1804      97.070000
1018      97.000000
588       96.380000
654       96.000000
823       95.900000
143       95.570000
1501      95.250000
446       95.000000
431       95.000000
888       95.000000
1208      95.000000
1226      95.000000
345       95.000000
915       95.000000
548       95.000000
714       95.000000
1240      95.000000
1102      95.000000
1663      95.000000
1178      94.950000
186       94.950000
517       94.900000
153       94.200000
144       93.950000
587       93.510000
1140      93.500000
1611      93.260000
704       93.000000
408       92.871627
766       92.871627
468       92.800000
1445      92.450000
1388      92.240000
1491      92.240000
1320      92.000000
707       91.570000
1007      91.500000
811       91.430000
863       91.030000
1365      91.000000
1505      90.600000
740       90.500000
1318      90.150000
708       90.000000
617       90.000000
700       90.000000
754       90.000000
1300      90.000000
904       90.000000
1421      90.000000
466       90.000000
429       90.000000
987       89.970000
467       89.950000
298       89.900000
603       89.900000
1087      89.900000
633       89.900000
93        89.900000
879       89.900000
554       89.660000
166       89.300000
237       89.170000
207       89.000000
187       89.000000
605       89.000000
138       88.900000
546       88.500000
228       88.050000
1530      88.000000
1366      88.000000
907       87.900000
1416      87.390000
802       87.300000
242       87.020000
1945      86.950000
149       86.900000
1181      86.150000
287       86.000000
519       85.950000
311       85.950000
1897      85.900000
1930      85.800000
195       85.700000
307       85.630000
521       85.550000
1471      85.400000
319       85.000000
1279      85.000000
1323      85.000000
1440      85.000000
1467      84.950000
79        84.950000
1593      84.900000
1332      84.900000
1310      84.900000
919       84.550000
1549      84.500000
497       84.360000
413       82.950000
819       82.750000
76        82.580000
525       82.550000
994       82.500000
692       82.500000
260       82.500000
256       82.500000
1379      82.000000
156       81.900000
181       81.500000
1258      81.350000
1649      81.350000
485       81.300000
279       81.000000
442       80.980000
460       80.950000
822       80.950000
1144      80.350000
1223      80.000000
1222      80.000000
1362      80.000000
1197      80.000000
1728      80.000000
1651      79.980000
1723      79.980000
840       79.950000
1645      79.900000
168       79.900000
328       79.900000
1532      79.900000
301       79.900000
537       79.900000
867       79.900000
197       79.900000
164       79.800000
1119      79.750000
574       79.550000
264       79.100000
329       79.000000
1594      78.950000
828       78.900000
101       78.900000
685       78.650000
357       78.650000
533       78.500000
841       78.490000
482       78.380000
820       78.380000
810       77.980000
1465      77.900000
139       77.900000
1207      77.700000
585       77.500000
439       77.500000
2013      77.360000
2038      77.360000
1896      77.220000
902       77.000000
171       76.950000
1722      76.870000
634       76.800000
788       76.500000
728       76.300000
1772      76.170000
1612      75.950000
405       75.950000
323       75.950000
778       75.920000
1133      75.900000
496       75.810000
1077      75.800000
1673      75.500000
1028      75.500000
1605      75.500000
249       75.300000
69        75.100000
611       75.040000
1659      75.000000
1439      75.000000
1304      75.000000
474       75.000000
966       75.000000
441       75.000000
179       75.000000
354       75.000000
1586      75.000000
1616      75.000000
824       75.000000
506       75.000000
1573      75.000000
1161      75.000000
591       75.000000
589       75.000000
1022      74.950000
271       74.900000
1788      74.900000
1704      74.900000
1088      74.560000
999       74.550000
1058      74.500000
726       74.000000
676       74.000000
513       74.000000
1171      74.000000
1768      73.950000
783       73.900000
1481      73.900000
674       73.650000
464       73.620000
479       73.600000
746       73.600000
818       73.600000
705       73.570000
350       73.000000
628       73.000000
210       73.000000
2049      73.000000
2024      73.000000
1541      73.000000
1110      72.000000
868       71.950000
580       71.900000
456       71.850000
606       71.300000
1367      70.890000
470       70.550000
391       70.500000
1215      70.000000
709       69.950000
336       69.950000
1191      69.950000
1687      69.950000
225       69.900000
426       69.900000
1206      69.900000
806       69.900000
1576      69.900000
355       69.800000
701       69.790000
382       69.580324
352       69.000000
814       69.000000
903       69.000000
615       69.000000
1065      69.000000
909       69.000000
627       69.000000
1561      69.000000
1617      68.990000
390       68.900000
378       68.900000
1811      68.900000
198       68.700000
1648      68.550000
509       68.405972
957       68.000000
1809      68.000000
1655      68.000000
1806      67.950000
1188      67.950000
1703      67.950000
239       67.940000
459       67.900000
1557      67.900000
777       67.900000
1249      67.820000
396       67.600000
1229      67.500000
1230      67.450000
492       67.100000
1413      67.000000
1131      66.750000
666       66.730000
89        66.070000
286       65.950000
1151      65.900000
563       65.900000
1730      65.900000
976       65.900000
545       65.500000
767       65.400000
837       65.340000
1508      65.250000
1763      65.220000
148       65.050000
762       65.000000
1988      65.000000
1056      65.000000
1742      65.000000
395       65.000000
1536      65.000000
430       65.000000
1308      65.000000
1430      65.000000
804       64.990000
233       64.900000
1519      64.800000
1397      64.750000
1340      64.500000
443       64.500000
2022      64.500000
2047      64.500000
936       64.350000
555       64.300000
827       64.000000
370       64.000000
445       64.000000
392       64.000000
1371      64.000000
910       64.000000
833       63.950000
1325      63.950000
526       63.900000
87        63.750000
1454      63.530000
538       63.500000
1238      63.500000
908       63.460000
1166      63.340000
1136      63.330000
1219      62.950000
1483      62.900000
1539      62.900000
1386      62.800000
856       62.750000
1264      62.740000
981       62.700000
1433      62.560000
1352      62.500000
1376      62.500000
932       62.020000
504       62.000000
2043      61.940000
2018      61.940000
374       61.849177
214       61.690000
418       61.640000
643       61.550000
1052      61.500000
559       61.000000
690       60.950000
1189      60.950000
982       60.730000
1085      60.610000
1350      60.450000
1729      60.400000
1373      60.250000
577       60.060000
1943      60.000000
1043      60.000000
1652      60.000000
1938      59.950000
543       59.950000
949       59.950000
821       59.950000
1107      59.900000
386       59.900000
1590      59.900000
1368      59.900000
973       59.900000
698       59.900000
702       59.900000
1047      59.900000
1037      59.900000
1869      59.900000
958       59.900000
1050      59.900000
1237      59.870000
515       59.820000
473       59.800000
884       59.750000
977       59.750000
1363      59.550000
604       59.250000
782       59.250000
1867      59.000000
859       59.000000
414       59.000000
259       59.000000
825       58.950000
529       58.950000
372       58.950000
1227      58.900000
223       58.900000
858       58.900000
331       58.900000
857       58.300000
1848      58.260000
1701      58.250000
716       58.214225
565       58.190000
1163      58.000000
480       58.000000
1542      58.000000
463       57.960000
725       57.900000
1568      57.900000
869       57.900000
911       57.900000
1213      57.800000
1463      57.500000
1353      57.490000
774       57.110000
575       57.000000
475       57.000000
836       56.950000
1820      56.950000
534       56.950000
875       56.950000
1390      56.920000
1427      56.890000
1263      56.760320
749       56.750000
972       56.750000
618       56.500000
420       56.500000
731       56.500000
351       56.270000
1709      56.270000
1902      56.260000
877       56.000000
765       55.950000
423       55.950000
1887      55.750000
744       55.710000
1719      55.500000
1853      55.470000
1579      55.450000
404       55.350000
723       55.330000
733       55.310000
991       55.250000
616       55.140000
1154      55.000000
488       55.000000
1380      55.000000
1345      55.000000
1682      55.000000
1951      55.000000
1944      55.000000
1582      54.950000
1252      54.900000
1096      54.900000
487       54.900000

In [35]:
# Divido la columna "price" en tres rangos: alto (>1000), medio (50-1000) y bajo (<=50)
    # Esto lo usaré para calcular la relación calidad-precio

df_high_price = df["price"] > 1000
df[df_high_price].count()

winery         51
wine           51
year           51
rating         51
num_reviews    51
region         51
price          51
body           51
acidity        51
rating_norm    51
dtype: int64

In [36]:
df_mid_price = (df["price"] <= 1000) & (df["price"] >= 50)
df[df_mid_price].count()

winery         1017
wine           1017
year            980
rating         1017
num_reviews    1017
region         1017
price          1017
body           1014
acidity        1014
rating_norm    1017
dtype: int64

In [37]:
df_low_price = df["price"] <= 50
df[df_low_price].count()

winery         985
wine           985
year           949
rating         985
num_reviews    985
region         985
price          985
body           965
acidity        965
rating_norm    985
dtype: int64

In [38]:
# Creo la columna "price_group" usando los filtros que he hecho anteriormente para agrupar los precios
    # Compruebo que se ha creado y funciona correctamente

df.loc[df["price"] <= 50, "price_group"] = "low"
df.loc[(df["price"] <= 1000) & (df["price"] > 50), "price_group"] = "mid"
df.loc[df["price"] > 1000, "price_group"] = "high"

print(df[["price", "price_group"]].sample(10))

       price price_group
1199   25.45         low
1319   18.48         low
519    85.95         mid
1405   37.29         low
921   152.60         mid
1284   16.25         low
574    79.55         mid
354    75.00         mid
1637  196.29         mid
1495  135.95         mid

In [ ]:
# Calculo el percentil de rating y price dentro de cada grupo de precio
    # Utilizo ese percentil para calcular la métrica calidad/precio de forma que un buen rating y un precio bajo den un buen resultado
    # Este rating de calidad/precio estará entre 0 y 100
    
rating_pct = df.groupby("price_group")["rating_norm"].rank(pct=True)
price_pct = df.groupby("price_group")["price"].rank(pct=True)
df["quality_price_percent"] = ((rating_pct + (1 - price_pct)) / 2) * 100
print(df[["price", "price_group", "rating_norm", "quality_price_percent"]].sample(10))

          price price_group  rating_norm  quality_price_percent
822    80.95000         mid     0.285714              50.568182
1101   15.50000         low     0.285714              85.634518
1176   38.00000         low     0.142857              33.680203
182   890.00000         mid     0.571429              40.884387
1351   30.30000         low     0.142857              46.852792
1586   75.00000         mid     0.142857              41.897233
170   129.95000         mid     0.571429              58.967391
302    53.95000         mid     0.571429              87.697628
1822    4.99000         low     0.000000              54.923858
1779   28.75501         low     0.142857              49.213198

In [40]:
df.sample(5)

,winery,wine,year,rating,num_reviews,region,price,body,acidity,rating_norm,price_group,quality_price_percent
1992,Adega Familiar Eladio Pineiro,Envidiacochina (Tete de Cuvee),2019,4.2,438,Rias Baixas,18.46,3.0,3.0,0.000000,low,47.868020
1772,Mestres,Mas Via Gran Reserva Brut,2002,4.3,29,Cava,76.17,2.0,3.0,0.142857,mid,40.834980
52,Vega Sicilia,Unico,2000,4.7,3127,Ribera del Duero,555.20,5.0,3.0,0.714286,mid,48.517787
1343,Jorge Ordonez,No. 2 Victoria,2017,4.3,232,Malaga,21.40,4.0,3.0,0.142857,low,60.177665
695,Alto Moncayo,Garnacha,2018,4.4,915,Campo de Borja,38.95,5.0,3.0,0.285714,low,50.355330

In [41]:
# Compruebo la información final del dataset tras todas las transformaciones realizadas antes de guardar el dataset limpio

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2048 entries, 0 to 6100
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   winery                 2048 non-null   object
 1   wine                   2048 non-null   object
 2   year                   1976 non-null   Int64
 3   rating                 2048 non-null   float64
 4   num_reviews            2048 non-null   int64
 5   region                 2048 non-null   object
 6   price                  2048 non-null   float64
 7   body                   2025 non-null   float64
 8   acidity                2025 non-null   float64
 9   rating_norm            2048 non-null   float64
 10  price_group            2048 non-null   object
 11  quality_price_percent  2048 non-null   float64
dtypes: Int64(1), float64(6), int64(1), object(4)
memory usage: 210.0+ KB

In [42]:
# Ordeno las columnas del dataset para dejarlo más limpio y legible para la exportación

df = df[["winery", "wine", "year", "rating", "rating_norm","price", "price_group", "region", "body", "acidity", "quality_price_percent"]]
df.sample(1)

,winery,wine,year,rating,rating_norm,price,price_group,region,body,acidity,quality_price_percent
180,Dominio de Pingus,Pingus,2010,4.6,0.571429,1359.75,high,Ribera del Duero,5.0,3.0,37.254902

In [ ]:
# Guardo el dataset limpio en un nuevo archivo CSV

df.to_csv("../datasets/wines_SPA_cleaned.csv", index=False)